Source: conglomerate
Section: editors
Priority: optional
Maintainer: Geert Stappers <stappers@stappers.nl>
Uploaders: Sven Luther <luther@debian.org>
Build-Depends: debhelper (>> 4.0.0), libbonobo2-dev, libbonoboui2-dev, libgnome2-common, libgnomeui-dev, libgnomeprint-dev, libgnomeprintui2.2-dev
Standards-Version: 3.6.0

Package: conglomerate
Architecture: any
Depends: ${shlibs:Depends}
Description: userfriendly XML editor
 Conglomerate is a free as in GPL userfriendly XML editor,
 for DocBook and other document types.
 It aims to hide the complexity and jargon of XML behind a friendly GUI.
 .
 Homepage: http://www.conglomerate.org
